@page
@model BackCourrier.Pages.Coursiers.LoginModel
@{
}
<h1>Connecter</h1>

<h4>Coursier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Coursier.Id" />
            <div class="form-group">
                <label asp-for="Coursier.Nom" class="control-label"></label>
                <input asp-for="Coursier.Nom" class="form-control" />
                <span asp-validation-for="Coursier.Nom" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
</div>

